name: Release (Test + Build + Push)

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- TESTS ----------
      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      # ---------- VERSION ----------
      - name: Extract version
        id: version
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # ---------- DOCKER ----------
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/unsetsoft/toridb:${{ steps.version.outputs.version }}
            ghcr.io/unsetsoft/toridb:latest
            ghcr.io/unsetsoft/toridb:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
